<h2>Welcome back, {{user.fullName}}</h2>

<p>{{user.username}}</p>

<div>
    <a href="/users/diagram-finder">Search for chords and tabs</a>
    <a href="/posts/create-post">Create Post</a>
</div>

{{#each myPosts}}
<div class="post-list">
    <p>{{this.title}}</p>
    <a href="/posts/{{this._id}}/post-details">See post</a>
    <hr>
</div>
{{/each}}

{{!-- <p>{{user._id}}</p> --}}
<footer>
    <a href="/users/user-home/{{user._id}}/delete-user">Delete this account</a>
</footer>